# Audio files will get mounted via a volume, don't include on build.
audio_files
audio_files_normalized
# If you also have a local FFmpeg install, don't include it...
ffmpeg
# No local testing cache or virtual environment:
**/.pytest_cache
venv*
venv
venv36
# No PyCharm or Git stuff.
.idea
.git
# No helper Docker files.
docker_ffmpeg
# Do not include the .ini file to avoid accidental inclusion of API key.
disquip.ini
# No distribution files.
dist
build
disquip_bot.egg-info
# No debug file.
debug.py
# No batch scripts.
*.bat
# No packaging directories.
build
disquip_bot.egg-info
dist