# Directories, alphabetically:
.git
.github
.idea
**/.pytest_cache
audio_files
audio_files_normalized
build
disquip_bot.egg-info
dist
ffmpeg
service
venv
**/venv*

# Files, alphabetically:
**/*.bat
.gitignore
debug.py
disquip.ini